
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
<form method="post" asp-action="ChangePassword">
    
    <input name="PasswordLama" type="text" />
    <input name="Passbaru" type="text" />
    
    <button type="submit"> Submit</button>
</form>

